@use "variables";
@use "mixins";

main {
  @include flex-center();
  flex-grow: 1;

  .form {
    width: 400px;
  }
}

.form-link {
  width: 100%;
  color: $primary-color;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-base;
  border: 1px solid $border-color;
  padding: 30px;

  & > input,
  button,
  a,
  span {
    margin-top: 1em;
  }
}

.form-input {
  width: 100%;
  height: 4em;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $border-color;
  color: $white;
  outline: none;
}

.form-login-btn {
  @include form-btn(transparent, $primary-color, $primary-color);
}

.form-register-btn {
  @include form-btn($primary-color, white, $primary-color);
}
