@use "variables";

@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn($width, $bg-color, $color, $bordr-color) {
  @include flex-center();
  width: $width;
  height: 2.2em;
  border-radius: 1.1em;
  background-color: $bg-color;
  color: $color;
  border: 1px solid $border-color;
}

// TODO feedback: nav-btn和form-btn他们是唯一的差别就是width不一样，而这个width已经是@mixin btn(....)的一个参数了，所以
//  nav-btn和form-btn其实都不需要了
@mixin nav-btn($bg-color, $color, $border-color) {
  @include btn(6em, $bg-color, $color, $border-color);
}

@mixin form-btn($bg-color, $color, $border-color) {
  @include btn(100%, $bg-color, $color, $border-color);
}
